html {
  max-width: 960px;
  margin: auto;
}

header {
  margin: auto;
}

section {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

div {
  max-height: 360px;
  width: 360px;
  margin: 10px;
}

img {
  object-fit: contain;
  max-width: 100%;
  padding: 20px;
}

button {
  height: 50px;
  width: 100px;
  float: right;
}

footer {
  clear: both;
}
